@use "../../mixin";

.book {
  color: rgb(0, 0, 0);
  background-color: #ffffff; /* Set your background color */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  position: relative;
  align-self: center;
  height: auto;
  cursor: pointer;

  @include mixin.phone {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  @include mixin.tablet {
  }
  @include mixin.laptop {
    margin: 0 15px;
    // margin-bottom: 200px;
  }
  @include mixin.computer {
    margin: 0 15px;
    // margin-bottom: 300px;
  }
  @include mixin.largeComputer {
    margin: 0 15px;
    // margin-bottom: 500px;
  }

  img {
    width: 200px;

    @include mixin.tablet {
      width: 300px;
    }
    @include mixin.laptop {
      width: 400px;
    }
    @include mixin.computer {
      width: 500px;
    }
    @include mixin.largeComputer {
      width: 600px;
    }
  }

  &__modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgb(255, 179, 0, 0.5);
    height: 100%;
    width: 100%;
  }

  &__text {
    width: 80%;
    height: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.book:hover .book__modal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
