.book {
  color: rgb(96, 96, 96);
  border: 1px solid blue;
  flex-grow: 1;
  position: relative;

  img {
    width: 200px;
  }

  &__modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
    padding: 10px;
  }
}

.book:hover .book__modal {
  display: block;
}

.visible {
  display: block !important;
}
