@import "../../variables.scss";

.modal {
  height: 100vh;
  width: 100vw;
  display: flex;
  cursor: pointer;
  align-items: center;
  flex-direction: column;
  height: 50%;
  padding: 1.5em;

  width: 50%;
  font-size: 2em;
  overflow: scroll;

  background: $modal;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);

  border-radius: 20px;
  text-align: center;
  // align-items: center;
  gap: 1.5em;
  z-index: 9;

  &__button {
    padding: 0.2em 0.6em;
    font-size: 0.8em;
    border-radius: 50px;
  }
}

.wrap {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: block;
  display: flex;
}
